.project-card{
@apply w-20 rounded-[0.75rem] bg-cover bg-no-repeat bg-center bg-blend-darken overflow-hidden cursor-pointer mx-3 flex items-end ;
transition: 0.6s cubic-bezier(.28, -0.03, 0,.99);
box-shadow: 0 10px 30px -5px rgba(0,0,0,0.8);
background:var(--img)

}
.project-card>.row{
    @apply text-white flex flex-nowrap;
}
.project-card>.row>.icon{
    @apply bg-[#223] text-white rounded-full w-[50px] flex justify-center items-center m-4
}
.project-card>.row>.description{
    @apply flex justify-center flex-col overflow-hidden h-20 w-[520px] opacity-0 delay-300 transition-all duration-300 ease-linear;
    transform: translateY(30px);
    
}
.project-card>.row>.description p{
    @apply text-[#b0b0ba] pt-1
}
.project-card>.row>.description h4{
    @apply uppercase
}
.projects-container input{
    display:none;
}
.projects-container input:checked + label{
    @apply w-[600px]
}
.projects-container input:checked + label .description{
    @apply opacity-100;
    transform:translateY(0)
}
