html, body {
  overflow-x: hidden;
  
}
body{
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #0b0b0e 150px), repeating-linear-gradient(#101111, #101111);
  background-color: #0b0b0e;
  background-size: cover;

}

#root {
  @apply my-0 mx-auto p-8 flex flex-col items-center bg-cover w-full max-w-[1400px];
 
}

