html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #0f0f0f 100px), repeating-linear-gradient(#000000, #000000);
  background-color: #0f0f0f;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

